<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.thymeleaf.org/extras/core">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>My-Library</title>
    <style type="text/css">
        .error {
            color: red;
        }
    </style>

    <th:block th:include="components/All_Js_css"></th:block>

    <!-- show model automatically -->
    <th:block th:if="${error == true}">
        <script th:inline="javascript">
            $(document).ready(function () {
                $('#exampleModal').modal('show');
            });
        </script>
    </th:block>

    <th:block th:if="${bookById.bookid != null}">
        <script th:inline="javascript">
            $(document).ready(function () {
                $('#bookUpdateModal').modal('show');
            });
        </script>
    </th:block>
</head>
<body>
<th:block th:include="components/nav"></th:block>

<div class="container-fluid p-0 m-0">
    <div class="jumbotron primary-background text-white banner-background">
        <div class="container">
            <h5 class="display-4" th:text="'Hi ! ' + ${name}"></h5>

            <h3 class="display-3">Welcome to MY LIBRARY</h3>
            <h3>MY LIBRARY</h3>
            <p>A programming language is a formal language comprising a set
                of strings that produce various kinds of machine code output.
                Programming languages are one kind of computer language, and are
                used in computer programming to implement algorithms.</p>

            <p>Most programming languages consist of instructions for
                computers. There are programmable machines that use a set of
                specific instructions, rather than general programming languages.
                Since the early 1800s, programs have been used to direct the
                behavior of machines such as Jacquard looms, music boxes and player
                pianos.[1] The programs for these machines (such as a player
                piano's scrolls) did not produce different behavior in response to
                different inputs or conditions.</p>

            <button class="btn btn-outline-light btn-lg">
                <span class="fa fa-user-plus"></span> Start ! Learn
            </button>

            <th:block th:if="${user != null}">
                <button type="button" class="btn btn-outline-light btn-lg" data-toggle="modal" data-target="#exampleModal">
                    <span class="fa fa-book fa-spin"></span>Add New Books
                </button>
            </th:block>
        </div>
    </div>
</div>

<!-- Bootstrap Modal For add Book-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Book form -->
                <div class="card">
                    <div class="card-header  primary-background text-white text-center">
                        <span class="fa fa-book fa-3x"></span>
                        <p>Books Details</p>
                    </div>
                    <div class="card-body">
                        <!--form-->
                        <form th:action="@{/registerbookform}" method="post" th:object="${book}" class="form-horizontal">
                            <div class="form-group">
                                <label for="booktitle">Book Title</label>
                                <input th:field="*{booktitle}" class="form-control" placeholder="Book Title"/>
                                <span th:if="${#fields.hasErrors('booktitle')}" th:errors="*{booktitle}" class="error"></span>
                            </div>
                            <div class="form-group">
                                <label for="Name">Book Author</label>
                                <input th:field="*{bookauthor}" class="form-control" placeholder="Enter here"/>
                                <span th:if="${#fields.hasErrors('bookauthor')}" th:errors="*{bookauthor}" class="error"></span>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea th:field="*{bookdescription}" rows="4" class="form-control" placeholder="Enter here"></textarea>
                                <span th:if="${#fields.hasErrors('bookdescription')}" th:errors="*{bookdescription}" class="error"></span>
                            </div>
                            <div class="container text-center mt-2">
                                <button type="submit" class="btn btn-success">Save Book</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap modal section End -->

<!-- Bootstrap Modal For Upadate Book-->

<!-- Modal -->
<div class="modal fade" id="bookUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Book form -->
                <div class="card">
                    <div class="card-header  primary-background text-white text-center">
                        <span class="fa fa-book fa-3x"></span>
                        <p>Books Details</p>
                    </div>
                    <div class="card-body">
                        <!--form-->
                        <form th:action="@{/updatebookform}" method="post" th:object="${book}">
                            <div class="form-group">
                                <input th:field="*{bookid}" class="form-control" th:value="${bookById.bookid}" />
                            </div>
                            <div class="form-group">
                                <label for="booktitle">Book Title</label>
                                <input th:field="*{booktitle}" class="form-control" placeholder="Book Title" th:value="${bookById.booktitle}" />
                                <span th:if="${#fields.hasErrors('booktitle')}" th:errors="*{booktitle}" class="error"></span>
                            </div>
                            <div class="form-group">
                                <label for="Name">Book Author</label>
                                <input th:field="*{bookauthor}" class="form-control" placeholder="Enter here" th:value="${bookById.bookauthor}" />
                                <span th:if="${#fields.hasErrors('bookauthor')}" th:errors="*{bookauthor}" class="error"></span>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea th:field="*{bookdescription}" rows="4" class="form-control" placeholder="Enter here" th:value="${bookById.bookdescription}"></textarea>
                                <span th:if="${#fields.hasErrors('bookdescription')}" th:errors="*{bookdescription}" class="error"></span>
                            </div>
                            <div class="container text-center mt-2">
                                <button type="submit" class="btn btn-success">Save Book</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap modal section End -->

<!-- card -->
<div class="container">
    <div class="row">
        <th:block th:each="b : ${books}">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${b.booktitle}"></h4>
                        <p class="card-text" th:text="${b.bookdescription}"></p>
                        <h6 class="text-right" th:text="'Author: ' + ${b.bookauthor}"></h6>
                        <a href="#" class="btn primary-background text-white">Read more</a>
                        <th:block th:if="${user != null}">
                            <a th:href="@{'/updatebook/' + ${b.bookid}}" class="btn btn-success text-white">Update</a>
                            <a th:href="@{'/deletebook/' + ${b.bookid}}" class="btn btn-danger text-white">Delete</a>
                        </th:block>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>
