<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.thymeleaf.org/extras/core">
<head>
	<meta charset="UTF-8">
	<title>Sell Books</title>
	<th:block th:include="components/All_Js_css"></th:block>
</head>
<body>
<!-- navbar -->
<th:block th:include="components/nav"></th:block>
<div class="container mt-2" style="background-color: #f7f8f9;">
	<table class="table table-striped table-success">
		<thead>
		<tr>
			<th colspan="5" class="text-center"><h4>ALL SELLS BOOKS</h4></th>
		</tr>
		<tr>
			<th colspan="" class="text-center">ID</th>
			<th colspan="" class="text-center">BOOK NAME</th>
			<th colspan="" class="text-center">PURCHASE BY</th>
			<th colspan="" class="text-center">BOOK PRICE</th>
			<th colspan="" class="text-center">PURCHASE DATE</th>
		</tr>
		</thead>

		<tbody>
		<tr th:each="asb : ${allSellBook}" class="text-center background" style="color: white; font-size: 21px;">
			<td th:text="${asb.id}"></td>
			<td th:text="${asb.bookName}"></td>
			<td th:text="${asb.userName}"></td>
			<td th:text="${asb.price}"></td>
			<td th:text="${asb.sellDate}"></td>
		</tr>
		</tbody>
		<tr>
			<th colspan="5" class="text-center"><a th:href="@{/}" class="btn btn-outline-primary">HOME</a></th>
		</tr>
	</table>
</div>
</body>
</html>
